
* {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: rgb(22, 22, 22);
}


.center {
    margin: auto;
    width: 70%;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.center-text {
    text-align: center;
}

.nav-item {
    width: max-content;
    color: white;
}

.container-fluid {
    width: max-content;
    
}

.navbar-text,
.navbar-brand,
.nav-link,
.navbar-item {
    color: white !important;
}



.navbar-toggler {
    border-color: white;
    background-color: white;
}