
* {
    margin: 0;
    padding: 0;
    color: white;
}

a {
    text-decoration: none;
    color:white;
}

body{
    background-image: url(../images/background.jpg);
    background-size: 100%;

    background-attachment: fixed;

}

.container {
    margin: auto;
    width: 80%;
}


.navbar {
    background-color: rgb(22, 22, 22);
}


.center {
    margin: auto;
    width: 100%;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.center-text {
    text-align: center;
}

.nav-item {
    width: max-content;
    color: white;
}

.container-fluid {
    width: max-content;
    
}

.navbar-text,
.navbar-brand,
.nav-link,
.navbar-item {
    color: white !important;
}



.navbar-toggler {
    border-color: white;
    background-color: white;
}


div#content {
    padding: 2% 5% 2% 5%;
    background-color: rgba(255, 255, 255, 0);
    margin-top: 5px;
    margin-bottom: 5px;
}

#anomaly_cont .card-text {
    color: black;
}

#anomaly_cont .card-img-top {
    /* width: fit-content; */
    height: 20rem;
}

#anomaly_cont div.card {
    height: calc(100% - 15px);
    margin-bottom: 15px;
}

.scp-anomaly-paragraph {
    background-color: rgba(61, 61, 61, 0.5);
    padding: 40px;
    width: fit-content;
}

div.scp-anomaly-paragraph p {
    text-indent: -4em;
}